body {
    background-image: url(/public/img/fondobikini.webp);
    background-size: cover;
    font-family: 'Slackey', sans-serif;
}

.container {
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.container img {
    height: 10em;
    margin-left: 20%;
}

.container h1 {
    text-align: center;
}

#hacerPizza img {
    margin-left: 27%;
}

#tomarRefresco img {
    margin-left: 32%;
}

